body {
  color: #ffffff;
  background-color: rgb(183, 220, 128);
  text-align: center;
}

#quizz {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#response_container {
  display: flex;
  flex-direction: column;
  row-gap: 1.6em;
}


.validate:hover{
    background-color: #53b776;
}

.highlight {
  background: #1db954 !important;
  color: white;
}

.answer, .validate, #quizz_start {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: #fff;
  background-color: #15883e;
  height: 48px;
}

.validate{
    width: 80%;
    margin-left: 60px;
}

#quizz_start:hover{
    background: #1db954 !important;
}

#crocoStart{
    object-fit: contain;
    width: 30em;
    height: 30em;
    border: 2px solid #15883e ;
    margin-bottom: 15px;
}

#startTitle{
    font-size: 32px;
}