main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#qcm{
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    justify-content: space-evenly;
    row-gap: 1.5em;
    align-items: center;
}

.validate{
    padding: 0.5em;
    background-color: green;
    color: antiquewhite;
}



.highlight{
    background-color: green;
    color: white
}

